	<div class="card p-3 mb-3 bg-light bg-gradient">
		<p class="fw-bold text-info fs-5">Please review the Fair Dealing Guidelines and York’s Copyright and You website when placing items on reserve </p>
		<ul>
			<li>
				<a class="" href="http://copyright.info.yorku.ca/files/2013/10/4.-Application-of-the-Fair-Dealing-Policy-for-Universities-to-Library-Copying1.pdf ">
					Fair Dealings Guidelines
				</a>
			</li>
			<li><a class="" href="http://copyright.info.yorku.ca/">York's Copyright Website</a></li>
		</ul>
	</div>

	<!-- REQUEST DETAILS -->
	<div class="card shadow-sm border-0 mb-4">
		<div class="card-header bg-info">
			<h3 class="card-title mb-0">Requestor Details</h3>
		</div>

  	<div class="card-body p-4 bg-light rounded-bottom">
			<!-- Basic Info -->
			<div class="row mb-3">
				<div class="col-md-4 mb-2">
					<strong class="text-secondary">Name:</strong>
					<div><%= @request.requester.name %></div>
				</div>
				<div class="col-md-4 mb-2">
					<strong class="text-secondary">Email:</strong>
					<div><%= @request.requester.email %></div>
				</div>
				<div class="col-md-4 mb-2">
					<strong class="text-secondary">Type:</strong>
					<div><%= @request.requester.user_type.upcase %></div>
				</div>
			</div>

			<hr class="my-3">

			<!-- Editable Fields -->
			<div class="row g-3">
				<%= f.fields_for @request.requester do |requester_fields| %>
					<div class="col-md-4">
						<%= requester_fields.label :phone, class: "form-label fw-semibold" %>
						<%= requester_fields.text_field :phone, class: "form-control", required: true %>
					</div>

					<div class="col-md-4">
						<%= requester_fields.label :office, class: "form-label fw-semibold" %>
						<%= requester_fields.text_field :office, class: "form-control", required: true %>
					</div>

					<div class="col-md-4">
						<%= requester_fields.label :department, "Faculty/Department", class: "form-label fw-semibold" %>
						<%= requester_fields.text_field :department, class: "form-control", required: true %>
					</div>
				<% end %>
			</div>
  	</div>
	</div>

	<div class="hidden">
		<%=  @request.errors.messages %>
	</div>
	<!-- COURSE INFO -->

	<div class="card mb-3">
	  <div class="card-header bg-info">
			<h3 class="card-title mb-0">Course Information</h3>
	  </div>
	  <div class="card-body p-4 bg-light rounded-bottom">
			<%= f.fields_for :course do |builder| %>
				<%= render  "courses/form_fields", f: builder %>
			<% end %>
			<div class="row mb-3">
				<div class="col-md-6 <%= 'has-error' if f.object.errors[:requester_email].present? %>">
				  <%= f.label :requester_email, "Instructor Email", class: ("text-danger" if f.object.errors[:requester_email].present?) %>
  
				<%= f.text_field :requester_email, 
					class: "form-control", 
					placeholder: @request.requester.email %>

				<% if f.object.errors[:requester_email].present? %>
					<div class="text-danger">
					<%= f.object.errors[:requester_email].join(", ") %>
					</div>
				<% end %>

				<small class="form-text text-muted">
					Who else should receive status change updates, etc.?
				</small>
				</div>

			</div>
	  </div>
	</div>


	<!-- REQUEST INFO -->

	<div class="card mb-3">
	  <div class="card-header bg-info">
			<h3 class="card-title mb-0">Request Information</h3>
	  </div>
	  <div class="card-body p-4 bg-light rounded-bottom">
		  <div class="row mb-3">
		    <div class="col-sm-3">
					<%= f.input :reserve_location_id, collection: Location.active, required: true, hint: "Where do you want students to pick up your items?" %>
		    </div>
		    <div class="col-sm-3">
		    	<%= f.input :reserve_start_date, as: :string, readonly: true, required: false, hint: "Prefilled after term selection.",
					input_html: { id: "request_reserve_start_date", class: "" } %>
		    </div>
		    <div class="col-sm-3">
		        <%= f.input :reserve_end_date, as: :string, readonly: true, required: false,
						input_html: { id: "request_reserve_end_date", class: "" }  %>
		    </div>
		  </div> <!-- row end -->
	  </div>
	</div>



	<div class="row mb-3">
	  <div class="col-md-8">

			 <% if @request.new_record?  %>
				 <%= f.button :submit, "Continue to Step Two",  class: "btn btn-primary" %>
				 <%= link_to "Cancel Request", root_path, class: "btn btn-link" %>
			 <% else %>
				 <%= f.button :submit, "Update Request Details", class: "btn btn-success" %>
			 	 <%= link_to "Cancel Changes", @request, class: "btn btn-link" %>
			 <% end %>
	  </div>
	</div>
