<% title "Request # #{@request.id}"  %>
<% page_header do %>
<div class="row mb-3">
	<div class="col-md-8">
		<h1>
		Request #<%= @request.id%>
		<small class="request">
			<% if @request.rolledover? %>
				<a href="<%= request_path(@request.rollover_parent)%>" class="badge bg-primary">R</a>
			<% end %>

				<span class="badge status-<%= @request.status.parameterize %>"><%= @request.status == Request::REMOVED ? "Removed" : @request.status.humanize %></span>
				<span class="badge bg-secondary"><%= @request.reserve_location.name %></span>
		 </small>
		</h1>
	</div>
	<div class="col-md-4 d-flex justify-content-end align-self-center">
		<div class="btn-group btn-group-sm align-self-start">
			<% if can? :assign, @request %>
			<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
				<div class="btn-group" role="group">
					<button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						<strong>Assigned to:</strong>
						<%= @request.assigned_to ? @request.assigned_to.name : "Nobody" %>
					</button>
					<ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
						<li class="dropdown-header"><strong>Assign to:</strong></li>
						<li><hr class="dropdown-divider"></li>
						<% @admin_users.each do |u| %>
							<li><%= link_to u.name, assign_request_url(@request, who: u.id), method: :post, class: "dropdown-item" %></li>
						<% end %>
						<% if @request.assigned_to.present? %>
							<li><hr class="dropdown-divider"></li>
							<li><%= link_to "Nobody", assign_request_url(@request, who: nil), method: :post, class: "dropdown-item" %></li>
						<% end %>
					</ul>
				</div>
			<% end %> 		
			<% if can?(:update, @request) && is_request_active(@request) %>
				<%= link_to 'Update Request', edit_request_path(@request), class: "btn btn-success mb-0" %>
			<% end %>
			</div>
		</div>
	</div>
</div>

<% end %>

<div class="request">
	<div class="card shadow-sm border-0 mb-4">
		<div class="card-header bg-info text-white">
			<h4 class="card-title mb-0">
				Requestor Details
				<% if can? :change_owner, @request %>

					<button class="btn btn-light btn-xs xsmall-i pull-right" title="Change Owner" data-bs-toggle="modal" data-target="#change_owner_form">
						Change Owner <span class="fa fa-exchange"></span>
					</button>
				<% end %>
			</h4>
		</div>

  	<div class="card-body p-4 bg-light rounded-bottom">
			<div class="table-responsive">
		  	<table class="table table-bordered">
		  		<tr>
		  			<td><strong>name</strong></td>
		  			<td>
							<%= link_to_if can?(:login_as, :requestor), @request.requester.name, @request.requester %>
							<% if can?(:login_as, :requestor) && @request.requester.admin? == false %>
								&nbsp;&nbsp;&nbsp;
								<%= link_to login_as_path(who: @request.requester.id), data: {confirm: "Are you sure? This action is logged."}, class: 'text-muted' do %>
									<small>
										<span class="fa fa-share" title="Login As This Requestor"></span>
									 	Login As
									</small>
								<% end %>
							<% end %>
							<br/>

						</td>
		  			<td><strong>type</strong></td>
		  			<td><%= @request.requester.user_type.upcase %></td>
		  		</tr>
		  		<tr>
		  			<td><strong>email</strong></td>
		  			<td><%= @request.requester.email %></td>
		  			<td><strong>department</strong></td>
		  			<td><%= @request.requester.department %></td>
		  		</tr>

		  		<tr>
		  			<td><strong>phone</strong></td>
		  			<td><%= @request.requester.phone %></td>
		  			<td><strong>office</strong></td>
		  			<td><%= @request.requester.office %></td>
		  		</tr>
					<tr>
						<td><strong>library id</strong></td>
						<td colspan="3"><%= @request.requester.library_uid %></td>
					</tr>
		  	</table>
			</div>
		</div>
	</div>


	<%= render partial: "change_owner" %>
	<!-- COURSE INFO -->

	<div class="card shadow-sm border-0 mb-4">
		<div class="card-header bg-info text-white">
			<h4 class="card-title mb-0">Course Information</h4>
	  </div>
		<div class="card-body p-4 bg-light rounded-bottom">
			<%= render partial: @request.course %>
		</div>
	</div>

	<!-- REQUEST INFO -->
	<div class="card shadow-sm border-0 mb-4">
		<div class="card-header bg-info text-white">
			<h4 class="card-title mb-0">Request Information</h4>
	  </div>
		<div class="card-body p-4 bg-light rounded-bottom">
			<div class="row mb-3">
				<div class="col-md-3">
					<% if can?(:manage, @request) %>
						<span class="field">Assigned to</span><br/>
						<%= @request.assigned_to ? @request.assigned_to.name : "Nobody" %>
					<% else %>
						<span class="field">Status</span><br/>
						<%= @request.status ? @request.status.upcase : "Unknown" %>
						<br/><br/>
						<span class="field">Request History Log</span><br/>
						<a data-bs-toggle="modal" href="#history_popup" data-target="#history_popup" class="btn btn-xs btn-default">
							View Log
						</a>
					<% end %>
				</div>
				<div class="col-md-3">
					<span class="field">Reserve Starts On</span><br/>
					<%= @request.reserve_start_date.strftime("%b %d, %Y") rescue nil %>
					<br/><br/>
					<span class="field">Reserve Ends After</span><br/>
					<%= @request.reserve_end_date.strftime("%b %d, %Y") rescue nil %>
				</div>
				<div class="col-md-3">
					<span class="field">Created on</span><br/>
					<%= @request.created_at.strftime("%b %d, %Y") rescue nil %>
					<br/><br/>
					<% if @request.status == Request::COMPLETED %>
						<span class="field">Completed On</span><br/>
						<%= @request.completed_date.strftime("%b %d, %Y") rescue nil %>
					<% elsif @request.status == Request::CANCELLED %>
						<span class="field">Cancelled On</span><br/>
						<%= @request.cancelled_date.strftime("%b %d, %Y") rescue nil %>
					<% elsif @request.status == Request::REMOVED %>
						<span class="field">Archived</span><br/>
						<%= @request.removed_at.strftime("%b %d, %Y") rescue nil %>
					<% else %>
						<span class="field">Opened on</span><br/>
						<%= @request.requested_date.strftime("%b %d, %Y") rescue nil %>
					<% end %>
				</div>

				<div class="col-md-3">
					<span class="field">Pickup Location Details</span><br/>
					<strong><%= @request.reserve_location.name %></strong>
					<div class="small">
						<span class="fa fa-home"></span> <%= @request.reserve_location.address %></br>
						<span class="fa fa-phone"></span> <%= @request.reserve_location.contact_phone %></br>
						<span class="fa fa-envelope"></span> <%= @request.reserve_location.contact_email %></br>
					</div>
				</div>
			</div>
			<% if @request.rolledover? %>
				<p class="small">Rolled over from
					<a href="<%= request_path(@request.rollover_parent)%>">
						Request #<%= @request.rollover_parent.id %>
					</a>
				</p>
			<% end %>
		</div>
	</div>

	<hr/>
	<%= render partial: "requests/action_buttons" %>
	<hr/>

	<!-- ITEMS -->
	<div class="card shadow-sm border-0 mb-4">
		<div class="card-header bg-primary text-white">
			<h4 class="card-title mb-0">Requested Items</h4>
	  </div>
		<div class="card-body p-4 bg-light rounded-bottom">
			<% if is_request_active(@request) %>
				<%= render partial: "items/add_item" %>
			<% end %>

			<!-- Move buttons outside of the items div -->
			<div class="d-flex justify-content-between mb-3">
				<%= link_to request_copy_items_path(@request), remote: true, class: "btn btn-link blend" do %>
					<span class="fa fa-copy"></span> Copy Items
				<% end %>
				<%= link_to request_items_path(@request, status: Item::STATUS_DELETED), class: "btn btn-link blend" do %>
					<span class="fa fa-trash-o"></span> <%= @request.items.deleted.size %>
				<% end %>
			</div>

			<div class="items">
				<% if @request.items.active.size > 0 %>
					<% @request.items.active.recent_first.each do |item| %>
						<%= render partial: "items/item", locals: { item: item } %>
					<% end %>
				<% end %>

				<% if is_request_active(@request) && @request.items.size == 0 %>
					<!-- blank slate -->
					<div class="items-empty-slate arrow">
						<h1>No Items Requested Yet!</h1>
						<p>In order for your request to be open, you must add at least one item.</p>
					</div>
				<% end %>

				<% if @request.status == Request::REMOVED %>
					<div id="removed_items" class="<%= 'hide' if @request.items.deleted.size == 0 %>">
						<h4>Removed Items</h4>
						<% @request.items.deleted.each do |item| %>
							<%= link_to request_item_path(@request, item), class: "btn btn-link blend", remote: true do %>
								<span class="fa fa-retweet"></span> <%= item.title %>
							<% end %>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	</div>




	<div id="save_buttons_frame">
  		<%= render partial: "request_wizard/save_buttons"%>
	</div>

	<% if @request.status != Request::INCOMPLETE %>
		<%= render partial: "change_status" %>
	<% else %>
		<hr/>
		<%= link_to "REMOVE", change_status_request_path(@request, status: Request::REMOVED), class: "btn btn-danger", role: "button",
		data: { confirm: "Are you sure? This request will be removed."} %>
	<% end %>

	<hr />

	<%= render partial: "requests/action_buttons" %>
	<%= render partial: "requests/history_log_modal" %>

</div>
