<% if @aud.present? %>
  <% is_associated = @aud.associated_id.present? %>
  <% prefix = is_associated ? "#item_history_popup_#{@aud.associated_id}" : "" %>
  <% log_error_selector = "#{prefix} #history_log_error" %>
  <% form_reset_selector = is_associated ? "#history_popup_#{@aud.associated_id} form" : "#history_popup form" %>
  <% textarea_selector = is_associated ? "#note-textarea_#{@aud.associated_id}" : nil %>
  <% log_url_selector = is_associated ? "#request_history_log_#{@aud.associated_id}" : "#request_history_log" %>

  var notesIcon = document.getElementById("notes-icon-<%= @aud.associated_id %>");
  if (notesIcon) {
    notesIcon.innerHTML = '<span style="font-size: 1.5rem;">⚠️</span>';
  }

  <% if @aud.comment.blank? %>
    $( "<%= log_error_selector %>" ).text("Note is blank. Please fill it in.").removeClass("hide");
  <% elsif @aud.comment.length > 255 %>
    $( "<%= log_error_selector %>" ).text("Note is more than 255 characters!").removeClass("hide");
  <% else %>
    $( "<%= log_error_selector %>" ).addClass("hide");
    $( "<%= form_reset_selector %>" ).trigger("reset");
    <% if textarea_selector %>
      $( "<%= textarea_selector %>" ).val("");
    <% end %>
    var url = $( "<%= log_url_selector %>" ).data("url");
    $( "<%= log_url_selector %>" ).load(url);
  <% end %>
<% end %>
