<div class="modal wide" id="item_form" tabindex="-1" aria-labelledby="item_form_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="item_form_label"><%= @item.new_record? ? "Adding" : "Updating" %> a <%= @item.item_type.humanize %> Item</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <% unless [Item::TYPE_PHOTOCOPY, Item::TYPE_COURSE_KIT].include? @item.item_type %>
          <%= render "search/primo/new", search_type: @item.item_type %>
        <% end %>

        <%= simple_form_for [@request, @item], remote: true do |f| %>
          <!-- Info Row -->
          <div class="row small required py-3">
            <div class="col-md-12 fw-bold text-mute">
              <i class="fa fa-exclamation"></i> All fields in the blue area are mandatory.
            </div>
          </div>

          <%= render partial: "items/form_fields/#{@item.item_type}_form_fields", locals: { f: f } %>
          

  				<%= f.hidden_field :metadata_source_id, value: 0, class: "form-control"  %>
  				<%= f.hidden_field :metadata_source, value: Item::METADATA_MANUAL, class: "form-control" %>
  		    <%= f.hidden_field :item_type, value: @item.item_type, class: "form-control" %>

  				<% if @item.errors.any? %>
  					<div class="error_messages">
  						<hr/>
  						<p class="red">
  							Oops! There seems to be a small issue with this item. Please make sure you've filled out the form correctly.<br/>
  							If <span title="<%=raw  @item.errors.full_messages.join("<br/>") %>">the problem</span>
  							persists, please contact the administrator of this application.
  						</p>
  					</div>
  				<% end %>

          <hr/>
          <div class="text-right">
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel Changes</button>
             <%= f.button :submit, class: "btn-success" %>
          </div>
        <% end %>
      </div>


    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
