<div class="modal wide" id="item_form">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><%= @item.new_record? ? "Adding" : "Updating" %> a <%= @item.item_type.humanize %> Item</h4>
      </div>
      <div class="modal-body">



        <% unless [Item::TYPE_PHOTOCOPY, Item::TYPE_COURSE_KIT].include? @item.item_type %>
          <%= render "search/primo/new", search_type: @item.item_type %>
        <% end %>

        <%= simple_form_for [@request, @item], remote: true do |f| %>
  				<div class="row small required">
  					<div class="col-md-4 black strong pull-right">
  						<span class="fa fa-exclamation"></span> All fields in blue area are mandatory.
  					</div>
  				</div>



          <%= render partial: "items/form_fields/#{@item.item_type}_form_fields", locals: { f: f } %>
          

  				<%= f.hidden_field :metadata_source_id, value: 0, class: "form-control"  %>
  				<%= f.hidden_field :metadata_source, value: Item::METADATA_MANUAL, class: "form-control" %>
  		    <%= f.hidden_field :item_type, value: @item.item_type, class: "form-control" %>

  				<% if @item.errors.any? %>
  					<div class="error_messages">
  						<hr/>
  						<p class="red">
  							Oops! There seems to be a small issue with this item. Please make sure you've filled out the form correctly.<br/>
  							If <span title="<%=raw  @item.errors.full_messages.join("<br/>") %>">the problem</span>
  							persists, please contact the administrator of this application.
  						</p>
  					</div>
  				<% end %>

          <hr/>
          <div class="text-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel Changes</button>
             <%= f.button :submit, class: "btn btn-success" %>
          </div>
        <% end %>
      </div>


    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
