<% if can?(:create, AcquisitionRequest) && is_request_active(@request) && item.status != Item::STATUS_DELETED %>
<div class="acquisition_request mb-3">
  <div class="dropdown">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown">
      Acquisition Requests
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li class="dropdown-item">
        <%= link_to  new_acquisition_request_path(item_id: item.id), remote: true do %>
          <span class="fa fa-shopping-cart"></span> New Request
        <% end %>
      </li>
      <li class="dropdown-divider"></li>
      <% item.acquisition_requests.each do |acquisition_request| %>
        <% if can? :read, acquisition_request %>
        <li role="presentation" class="dropdown-item">
          <%= link_to  acquisition_request_path(acquisition_request) do%>
            <small>By <%= acquisition_request.requested_by.name %></small>
            <span class="xsmall badge status-<%= acquisition_request.status %>">
              <%= acquisition_request.status %>
            </span>
          <% end %>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<% if can?(:update, item) && is_request_active(@request) && item.status != Item::STATUS_DELETED %>

  <% if item.acquisition_requests.acquired.size > 0 %>
    <div class="acquisition_request"><span class="badge status-acquired">Item Acquired</span></div>
  <% end %>

  <div class="btn-group">
    <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-bs-toggle="dropdown">
      <span class="fa fa-cog"></span> Update Item  <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li class="dropdown-item">
        <%= link_to edit_request_item_path(@request, item), class: "primary important", remote: true do %>
        <span class="fa fa-pencil"></span> Change Item Details
        <% end %>
      </li>
      <li class="dropdown-divider"></li>
      <li class="dropdown-item">
        <%= link_to request_item_path(@request, item), method: :delete, data: { confirm: 'Are you sure?' }, remote: true,
        class: "red important" do %>
            <span class="fa fa-times-circle"></span> Remove item
        <% end %>
      </li>
    </ul>
  </div>
<% end %>


<hr/>
<!-- status will go here -->

<% if can?(:change_status, item) && is_request_active(@request) %>
  <% status_class = (item.status == Item::STATUS_READY ? "item_ready" : "item_not_ready") %>
  <%= link_to change_status_request_item_path(@request, item), class: "btn btn-lg change-item-status #{status_class}", remote: true, data: { status: item.status}, method: :get do %>
    <span class="fa fa-check bigger" id="change_<%= item.id %>" style="color: #32cd32;"></span>
    <span class="hidden">Done</span>
  <% end %>
  <span class="badge bg-secondary <%= status_class %> item-status"><%= item.status.humanize.capitalize rescue nil %></span>
<% elsif can?(:change_status, item) && @request.status == Request::REMOVED && item.status != Item::STATUS_DELETED %>
  <%= link_to change_status_request_item_path(@request, item, status: Item::STATUS_DELETED), class: "btn btn-sm gray-bg change-item-status", remote: true, data: { confirm: "Are you sure? This ACTION IS PERMANENT." }, method: :get do %>
    <span class="fa fa-retweet orange" id="change_<%= item.id %>"></span> Remove
  <% end %>
<% elsif  item.status == Item::STATUS_DELETED %>
  <span class="btn btn-sm gray-bg">Removed</span>
<% end %>

<% if can?(:add_note, item) && item.status != Item::STATUS_DELETED%>
 <br/><br/>
  <%= render partial: 'requests/item_history_log_modal_', locals: { item: item } %>
  <!-- Adding a link with text -->
  <div class="d-inline-flex align-items-center">
    <%= link_to 'Add a Note / History Log', '#', 
      data: { bs_toggle: 'modal', bs_target: "#item_history_popup_#{item.id}", remote: true }, 
      class: 'btn btn-sm btn-secondary' %>

    <% if @notes&.dig(item.id)&.any? %>
      <span id="notes-icon-<%= item.id %>" class="ms-2" style="font-size: 1.5rem;">⚠️</span>
    <% else %>
      <span id="notes-icon-<%= item.id %>" class="ms-2" style="font-size: 1.5rem;"></span>
    <% end %>
  </div>

<% end %>
