
<div class="course_fields mb-3">
	<!-- Course Title Row -->
	<div class="row mb-3">
		<div class="col-md-8">
			<%= f.input :name, label: "Course Title", class: "form-control", required: true %>
			<% if f.object.errors[:code].any? %>
				<div class="text-danger small mt-1"><%= f.object.errors[:code].join(", ") %></div>
			<% end %>
		</div>
	</div>

	<!-- Year, Faculty, Subject, Course Number Row -->
	<div class="row g-3 mb-3">
		<div class="col-md-2 col-lg-2">
			<%= f.input :year, collection: Course::ACADEMIC_YEARS_FULL,
				input_html: { class: "form-select form-select-sm", id: "request_course_attributes_year" } %>
		</div>
		<div class="col-md-2 col-lg-1">
			<%= f.input :faculty, collection: Courses::Faculty.all_faculties,
				input_html: { class: "form-select form-select-sm" } %>
		</div>
		<div class="col-md-2 col-lg-2">
			<%= f.input :subject, collection: Courses::Subject.all_subjects,
				input_html: { class: "form-select form-select-sm" } %>
		</div>
		<div class="col-md-2 col-lg-2">
			<%= f.input :course_id, label: "Course Number",
				input_html: { class: "form-control form-control-sm", maxlength: 4,
				oninput: "this.value = this.value.replace(/[^0-9]/g, '').slice(0, 4);" } %>
		</div>
		<div class="col-md-1 col-lg-1">
			<%= f.input :term, collection: Course::TERMS,
				input_html: { class: "form-select form-select-sm", id: "request_course_attributes_term" } %>
		</div>
		<div class="col-md-1 col-lg-1">
			<%= f.input :credits, collection: Course::TERM_CREDITS,
				input_html: { class: "form-select form-select-sm" } %>
		</div>
		<div class="col-md-1 col-lg-1">
			<%= f.input :section, collection: Course::SECTIONS,
				input_html: { class: "form-select form-select-sm" } %>
		</div>
	</div>

	<!-- Instructor and Enrollment Row -->
	<div class="row g-3">
		<div class="col-md-4">
			<%= f.input :instructor, class: "form-control form-control-sm" %>
		</div>
		<div class="col-md-3">
			<%= f.input :student_count, label: "Enrollment", class: "form-control form-control-sm" %>
		</div>
	</div>
</div>
