<% title "All Active Courses" %>
<%= link_to "Active Courses", courses_active_index_path %>
<hr/>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Student count</th>
      <th>Instructor</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.code %></td>
        <td><%= course.student_count %></td>
        <td><%= course.instructor %></td>
        <td><%= link_to 'Make Changes', edit_course_path(course) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @courses %>
