<!-- MAP -->
<div class="row required">
	<div class="col-md-12">
			<%= f.input :title, required: true %>
	</div>

</div>
<div class="row required">
	<div class="col-md-6"><%= f.input :map_index_num, label: "Map Index #", required: true %></div>
	<div class="col-md-6"><%= f.input :loan_period, collection: LoanPeriod.all.collect { |p| p.duration }, required: true %></div>
</div>

<div class="row">
	<div class="col-md-12"><%= f.input :description, as: :text %></div>
</div>


<%= f.hidden_field :provided_by_requestor, value: false %>
<%= f.hidden_field :format, value: Item::FORMAT_MAP  %>
