
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Location</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Name:</dt><dd><%= @location.name %></dd>
      <dt>Contact Email:</dt><dd><%= @location.contact_email %></dd>
      <dt>Contact Phone:</dt><dd><%= @location.contact_phone %></dd>
      <dt>Address:</dt><dd><%= @location.address %></dd>    
      <dt>Deleted:</dt><dd><%= @location.is_deleted %></dd>
    </dl>
  </div>
</div>


<%= link_to '<i class="fa fa-backward"></i> Back To List'.html_safe, locations_path, class: "btn btn-default" %>
<%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_location_path(@location), class: "btn btn-default" %> 

